In [1]:
import numpy as np
import pandas as pd

In [2]:
index = pd.MultiIndex.from_product([[2020,2021,2022],[1,2,3]],
                                   names = ['Năm','Lần thi'])
columns = pd.MultiIndex.from_product([['Bình','Lan','Vân'],
                                      ['Toán','Lý','Hóa']],
                                      names = ['Học sinh','Môn học'])

data = np.random.randint(5,10,(9,9))

score = pd.DataFrame(data, index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          6  7   5    9  7   7    6  8   9
     2          9  5   9    5  8   8    5  6   7
     3          6  5   5    8  7   8    9  5   5
2021 1          5  5   7    7  6   7    6  6   8
     2          9  8   5    5  9   7    6  5   9
     3          8  6   5    9  6   5    8  6   5
2022 1          7  8   6    5  5   7    5  6   8
     2          9  8   6    6  6   7    6  9   9
     3          7  7   8    7  7   7    6  6   8

In [3]:
score.mean(level='Năm')

Học sinh      Bình                           Lan                      \
Môn học       Toán        Lý       Hóa      Toán        Lý       Hóa
Năm
2020      7.000000  5.666667  6.333333  7.333333  7.333333  7.666667
2021      7.333333  6.333333  5.666667  7.000000  7.000000  6.333333
2022      7.666667  7.666667  6.666667  6.000000  6.000000  7.000000

Học sinh       Vân
Môn học       Toán        Lý       Hóa
Năm
2020      6.666667  6.333333  7.000000
2021      6.666667  5.666667  7.333333
2022      5.666667  7.000000  8.333333

In [4]:
score.mean(level='Môn học', axis=1)

Môn học           Toán        Lý       Hóa
Năm  Lần thi
2020 1        7.000000  7.333333  7.000000
     2        6.333333  6.333333  8.000000
     3        7.666667  5.666667  6.000000
2021 1        6.000000  5.666667  7.333333
     2        6.666667  7.333333  7.000000
     3        8.333333  6.000000  5.000000
2022 1        5.666667  6.333333  7.000000
     2        7.000000  7.666667  7.333333
     3        6.666667  6.666667  7.666667

In [5]:
score.groupby(level='Môn học', axis= 1).mean()

Môn học            Hóa        Lý      Toán
Năm  Lần thi
2020 1        7.000000  7.333333  7.000000
     2        8.000000  6.333333  6.333333
     3        6.000000  5.666667  7.666667
2021 1        7.333333  5.666667  6.000000
     2        7.000000  7.333333  6.666667
     3        5.000000  6.000000  8.333333
2022 1        7.000000  6.333333  5.666667
     2        7.333333  7.666667  7.000000
     3        7.666667  6.666667  6.666667